* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: #ffffff;
}

.webgl {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;
  overflow: hidden;
  pointer-events: none;
  /* height: 100vh; */
}

.brand {
  font-weight: 400;
  letter-spacing: -0.03em;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  mix-blend-mode: difference;
  align-items: center;
  margin: 0.5rem auto;
  padding: 1rem 1.5rem;
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* backdrop-filter: blur(2px); */
}

.right-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

a {
  color: #000000;
  text-decoration: none;
}

header a {
  font-weight: 300;
  font-size: 1rem;
  line-height: 0.9;
  text-transform: uppercase;
  color: #fafafa;
}

.loader-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  will-change: transform;
  z-index: 10;
}

.loading-wrapper {
  position: relative;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader-overlay p {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #1c1c1c;
  /* transform: translateY(-100%); */
}

#counter-num {
  text-transform: uppercase;
  visibility: hidden;
}

.creative a {
  color: black;
  text-decoration: none;
}

.horizontal_nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  font-size: 0.85rem;
  font-weight: 300;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  left: 50%;
  bottom: 2.5%;
  margin: 0rem auto;
  padding: 0.75rem 1.5rem;
  border: 1px solid #eee;
  border-radius: 2rem;
  max-width: 24rem;
  transform: translateX(-50%);
  background-color: #fafafaaa;
  backdrop-filter: blur(2px);
  z-index: 3;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

#magneticCircle {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  transform-origin: center center;
  opacity: 0;
  z-index: 100;
  mix-blend-mode: difference;
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-weight: 300;
  color: #37393f;
  /* padding-left: 10%;
  padding-right: 10%; */
}

.section_wrapper {
  position: relative;
  overflow: visible;
}

.section_wrapper .hero_container {
  position: relative;
  overflow: visible;
  margin-bottom: -100vh;
  z-index: 1;
  /* mix-blend-mode: difference; */
}

.hero_container svg {
  position: absolute;
  width: 0;
  height: 0;
  left: -9999px;
  pointer-events: none;
}

.spacer {
  height: 100vh;
}

.section.is-hero {
  position: sticky;
  top: 0;
  z-index: 10;
}

.section.is-about {
  z-index: 2;
  background-color: #fafafaaa;
  backdrop-filter: blur(2px);
  overflow: hidden;
  padding: 2rem 6em;
  height: auto;
}

.about_wrapper {
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
}

.section .scroll_wrapper {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 1px solid black;
  left: 0;
  right: 0;
  margin: auto;
  top: 80%;
  border-radius: 50%;
}

.section .mail_wrapper {
  width: 28%;
  position: absolute;
  top: 42%;
  left: 10%;
  display: flex;
  color: #1b1b1b;
  justify-content: space-between;
}

.section .services_wrapper {
  position: absolute;
  right: 8%;
  bottom: 12%;
  text-transform: uppercase;
  /* color: #518a9b; */
}

.services_wrapper .service_text {
  font-size: 0.9rem;
  margin-bottom: 4px;
  color: #1b1b1b;
}

.section .hero_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero_wrapper h1 {
  font-size: 8vw;
  font-weight: 500;
  letter-spacing: -10px;
  line-height: 1;
  color: #1c1c1c;
  text-transform: uppercase;
  will-change: transform;
  min-width: 60vw;
}

.heading_line-1 {
  position: relative;
  left: -20%;
  overflow: hidden;
}

.heading_line-2 {
  position: relative;
  left: 25%;
  overflow: hidden;
}

.heading_line-3 {
  overflow: hidden;
}

.line {
  position: relative;
  overflow: hidden;
}

h1 .creative {
  color: #1b1b1b;
  font-weight: 400;
}

.creative {
  font-style: italic;
  font-weight: 400;
  color: #3c3c3c;
}

.hero_wrapper p {
  font-size: 1.2vw;
  line-height: 1.4;
  color: #1b1b1b;
}

h2 {
  font-size: 4.5vw;
  font-weight: 300;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

.about_content p {
  font-size: 3.5vw;
  line-height: 1.3em;
  letter-spacing: -0.03em;
  font-weight: 300;
  color: #9c9c9c;
  text-wrap: balance;
}

.about_sub__content {
  line-height: 1.6;
  position: absolute;
  width: 30%;
  right: 8%;
  bottom: 10%;
}

.work {
  height: 120vh;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}
.work .image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-section {
  padding: 4rem 0;
  overflow: hidden;
  background-color: #fafafaaa;
  backdrop-filter: blur(2px);
  position: relative;
  z-index: 1;
}

.work-container {
  display: flex;
  /* width: 100%; */
  max-width: 100em;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding: 0em 6em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  /* background-color: #fafafa; */
}

.work-card--wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.work-heading {
  font-size: 1.5vw;
  margin-top: 4px;
}

.sustain {
  width: 12vw;
}

.ephemeral {
  position: relative;
  width: 28vw;
}

.ephemeral h2 {
  position: absolute;
  line-height: 1;
  letter-spacing: -0.5vw;
  font-size: 5.5vw;
  top: -16%;
  left: -10%;
  font-weight: 300;
  z-index: 1;
  color: #fafafa;
  mix-blend-mode: difference;
}

.sustain p {
  font-weight: 300;
  font-size: 14px;
  margin: 6px 0;
  opacity: 0.5;
}

.sustain .sustain-img--wrapper {
  width: 100%;
  height: 16vw;
}

.ephemeral .ephemeral-img--wrapper {
  position: relative;
  width: 100%;
  height: 36vw;
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sustain-img--wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ephemeral-img--wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ephemeral p {
  width: 80%;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  margin: 16px 0;
  opacity: 0.8;
}

.visit {
  display: flex;
  gap: 10px;
  align-items: center;
}

.visit h3 {
  font-weight: 300;
  color: #5e5e5e;
}

.circle-visit {
  width: 3vw;
  height: 3vw;
  border: 1px solid #5e5e5e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-visit svg {
  width: 16px;
}

.motive-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 12vw 0vw 6vw;
  /* min-height: 80vh; */
}

.motive-section p {
  width: 70%;
  font-size: 2vw;
  line-height: 1.6;
  font-weight: 300;
  text-align: right;
  color: #9c9c9c;
}

.motive-section span {
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 0 10px;
  border-radius: 100px;
  margin-bottom: -12.5px;
}

.para-img-1 {
  background-image: url(/assets/img7.jpg);
  background-size: cover;
  background-position: 0% 30%;
}

.para-img-2 {
  background-image: url(/assets/img8.jpg);
  background-size: cover;
  background-position: center;
}

.work-content_wrapper {
  width: 80%;
  margin-bottom: 2em;
}

.work-content_wrapper p {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  color: #585b5c;
}

.work-slider_slide p {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  font-style: italic;
  z-index: 2;
}

.projects_wrap {
  position: relative;
  height: 200vh;
  background-color: #fafafaaa;
  backdrop-filter: blur(2px);
}

.projects_sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50%;
}

.slider_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.projects_slider {
  height: 100%;
  display: flex;
  width: min-content;
  overflow: hidden;
  will-change: transform;
}

.project_heading {
  font-size: 5vw;
  position: absolute;
  color: #fafafa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 1;
}

.project {
  width: 50vw;
  height: 100%;
  padding: 64px 16px 48px;
  display: flex;
  flex-direction: column;
}

.image__container {
  position: relative;
  width: 100%;
  aspect-ratio: 1.6/1;
  overflow: hidden;
  container-type: inline-size;
}

.project__image {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  object-position: center;
  /* filter: grayscale(100%); */
}

.start {
  justify-content: start;
}

.mid {
  justify-content: center;
}

.end {
  justify-content: end;
}

.project__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}

.project__details p {
  font-size: 0.8rem;
}

@media only screen and (max-width: 1100px) {
  .projects_wrap {
    height: 400vh;
  }

  .projects_sticky {
    height: 25%;
  }

  /* .project {
    width: 50vw;
  } */
}

@media only screen and (max-width: 600px) {
  .projects_wrap {
    height: auto;
  }

  .projects_sticky {
    position: relative;
    height: 12.5%;
  }

  .projects_slider {
    height: auto;
    flex-direction: column;
  }

  .project {
    width: 100vw;
    padding: 2rem;
  }
}

.services-section {
  /* min-height: 100vh; */
  background-color: #fafafaaa;
  backdrop-filter: blur(2px);
  padding: 6rem 6em;
  position: relative;
}

.service-container {
  max-width: 100em;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 0rem;
}

.services-container {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  min-width: 40%;
  perspective: 1250px;
  transform-style: preserve-3d;
}

.service-intro {
  position: sticky;
  top: 20%;
}

.service-intro p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

.service-intro h3 {
  margin-top: 1.2rem;
  font-size: 5vw;
  line-height: 1.3;
  font-weight: 300;
  color: #9c9c9c;
  text-transform: none;
}

.service-cta {
  margin-top: 0.8rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid black;
}

.service-wrapper {
  padding: 4rem 2rem;
  position: sticky;
  top: 20%;
  border: 1px solid #f1f1f1;
  color: #3a3a3a;
  background-color: #fafafaa0;
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.service-wrapper:nth-child(1) {
  /* top: 20%; */
  transform: translate3d(0, 0, -250px);
}
.service-wrapper:nth-child(2) {
  /* top: 22%; */
  transform: translate3d(0, 0, -175px);
}
.service-wrapper:nth-child(3) {
  /* top: 24%; */
  transform: translate3d(0, 0, -100px);
}
.service-wrapper:nth-child(4) {
  /* top: 26%; */
  transform: translate3d(0, 0, 0px);
}

.service-content {
  max-width: 75%;
}

.service-wrapper h3 {
  font-size: 2vw;
  font-weight: 400;
  margin-bottom: 0.2em;
}
.service-wrapper p {
  font-size: 0.9vw;
  line-height: 1.5;
  font-weight: 300;
}

.service-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.service-icon svg {
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-section {
  position: relative;
  width: 100%;
  padding: 15vh 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: #fafafaaa;
  backdrop-filter: blur(2px);
  perspective: 1250px;
  transform-style: preserve-3d;
}

.testimonial-section .card {
  position: sticky;
  top: 15vh;
  width: 26vw;
  min-height: 34vw;
  background-color: #fafafaa0;
  border: 1px solid #f1f1f1;
  backdrop-filter: blur(24px);
  padding: 3rem 1.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  transform: translate3d(0, 0, 0px);
}

.card-description {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}

.testimonial-section .title {
  font-size: 1.6rem;
  font-weight: 300;
}

.title-heading-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-width: 72ch;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
}

.title-heading {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

.footer-section {
  /* margin-top: -100vh; */
  width: 100%;
  height: 100vh;
}

.is-footer {
  position: sticky;
  bottom: 0;
  height: 100vh;
}

.footer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: #fafafaaa;
  backdrop-filter: blur(2px);
}
.footer-wrapper h2 {
  text-align: center;
}
.footer-wrapper p {
  font-size: 0.85rem;
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 1.6;
  text-align: center;
  max-width: 40rem;
  margin-bottom: 1rem;
}

.footer-content {
  position: relative;
  display: inherit;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.contact-cta {
  padding: 1rem 2rem;
  border: 1px solid #6f6f6f;
  border-radius: 2rem;

  transition: all 0.25s ease-out;
}

.contact-cta:hover {
  background-color: #000000;
  color: #fff;
  box-shadow: 2px 5px 12px #c3c3c3;
}

main {
  margin-top: 6rem;
}

.case-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container {
  width: 70%;
  max-width: 800px;
}

img {
  width: 100%;
}

.case-heading {
  font-size: clamp(1px, 4vw, 28px);
  font-weight: 500;
}

.case-para {
  font-size: clamp(1px, 2.2vw, 16px);
  font-weight: 300;
  line-height: 1.7;
}

.minimap__container {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translate(0%, -50%);
  min-width: 20px;
  z-index: 100;
}

.minimap__size {
  position: relative;
  /* z-index: 5; */
  border: 2px solid white;
}

.minimap__viewer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  z-index: 100;
  cursor: grab;
  border: 1px solid #0000009a;
}

.minimap__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  transform-origin: 0 0;
  border: 1px solid white;
}

@media only screen and (max-width: 990px) and (min-width: 600px) {
  #magneticCircle {
    display: none;
  }
  .loader-overlay p {
    font-size: 1.6rem;
  }
  .hero_wrapper h1 {
    font-size: 4.5rem;
    letter-spacing: -0.05em;
  }

  .heading_line-1 {
    left: 0;
  }

  .heading_line-2 {
    left: 0;
  }

  .hero_wrapper p {
    margin-top: 0.5rem;
    font-size: 1rem;
    max-width: 75%;
  }
  .section .mail_wrapper {
    top: 20%;
    width: 60%;
  }

  .section.is-about {
    padding: 2rem 4rem;
  }

  .services_wrapper .service_text {
    font-size: 1rem;
    line-height: 1.4;
  }

  .section .scroll_wrapper {
    top: 90%;
  }

  h2 {
    font-size: 4rem;
  }
  .about_content p {
    font-size: 2.5rem;
    line-height: 1.4;
  }
  .about_sub__content {
    width: 50%;
    bottom: 15%;
  }

  .work-heading {
    font-size: 1.4rem;
  }

  .sustain {
    width: 30vw;
  }

  .ephemeral {
    width: 36vw;
  }

  .ephemeral .ephemeral-img--wrapper {
    height: 48vw;
    container-type: inline-size;
  }

  .visit {
    display: none;
  }

  .motive-section {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    min-height: 60vh;
  }

  .motive-section p {
    width: 100%;
    font-size: 1.5rem;
  }
  .project_heading {
    font-size: 5rem;
  }

  .work-container {
    padding-right: 4em;
    padding-left: 4em;
  }

  .work-slider_slide {
    width: 48%;
    margin-right: 2em;
  }
  .progress {
    margin-top: 30px;
  }

  .services-section {
    padding: 4rem;
  }

  .service-container {
    flex-direction: column;
    padding: 1rem 0rem;
  }

  .services-container {
    margin-top: 1rem;
    gap: 1rem;
    perspective: none;
  }

  .service-intro {
    position: relative;
    top: auto;
  }

  .service-content {
    max-width: 80%;
  }

  .service-intro h3 {
    font-size: 4rem;
  }

  .service-wrapper {
    position: static;
    padding: 3rem;
  }
  .service-wrapper h3 {
    font-size: 2.4rem;
  }

  .service-wrapper p {
    font-size: 1rem;
  }

  .testimonial-section .card {
    width: 24rem;
    height: 30rem;
    top: 25%;
  }

  .feature-card {
    width: 32rem;
    height: 24rem;
    padding: 2rem;
  }

  .circle-visit {
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 599px) and (min-width: 280px) {
  #magneticCircle {
    display: none;
  }
  header {
    width: auto;
    margin: 0;
    padding: 1.5rem 2rem;
  }

  .spiral {
    font-size: 2rem;
  }

  .section.is-hero {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .hero_wrapper h1 {
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.05em;
  }

  .heading_line-1 {
    left: 0;
  }

  .heading_line-2 {
    left: 0;
  }

  .heading_line-3 {
    left: 0;
  }

  .hero_wrapper p {
    margin-top: 0.8rem;
    font-size: 1rem;
  }

  .projects_wrap {
    background-color: #fafafa;
    backdrop-filter: blur(0px);
  }

  .section.is-about {
    background-color: #fafafa;
    backdrop-filter: blur(0px);
    padding: 0rem 2rem;
  }

  .work-section {
    padding: 0;
    padding-top: 4rem;
    background-color: #fafafa;
    backdrop-filter: blur(0px);
  }

  .services-section {
    background-color: #fafafa;
    backdrop-filter: blur(0px);
  }

  .testimonial-section {
    background-color: #fafafa;
    backdrop-filter: blur(0px);
  }

  .footer-section {
    background-color: #fafafa;
    backdrop-filter: blur(0px);
  }

  .section .mail_wrapper {
    font-size: 0.75rem;
    top: 20%;
    width: 70%;
  }
  .section .services_wrapper {
    /* bottom: 2%; */
    right: 2%;
  }

  h2 {
    font-size: 2.8rem;
  }
  .about_content p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .about_sub__content {
    width: 80%;
    left: 10%;
    bottom: 5%;
    font-size: 0.9rem;
  }

  .work-card--wrapper {
    flex-wrap: wrap;
    gap: 4rem;
  }

  .sustain {
    width: 100%;
  }

  .sustain h5 {
    font-size: 1.2rem;
  }

  .sustain h2 {
    font-size: 2rem;
  }

  .sustain-img--wrapper {
    min-height: 350px;
  }

  .ephemeral {
    width: 100%;
  }

  .ephemeral h2 {
    position: relative !important;
    top: 5%;
    left: -5%;
    font-size: 3.2rem;
    margin-bottom: 1rem;
    z-index: 1;
  }

  .ephemeral p {
    width: 100%;
    margin: 8px 0;
  }
  .ephemeral .work-heading {
    position: static;
  }

  .ephemeral-img--wrapper {
    min-height: 400px;
  }

  .visit {
    display: none;
  }

  .motive-section {
    flex-wrap: wrap;
    gap: 1rem;
    min-height: 50vh;
    padding: 4rem 0rem;
  }
  .motive-section span {
    display: none;
  }

  .motive-section h2 {
    /* text-align: right; */
    font-weight: 400;
    width: 100%;
  }

  .motive-section p {
    width: 100%;
    font-size: 1.2rem;
    text-align: left;
  }

  .project_heading {
    display: none;
  }

  .work-heading {
    font-size: 1.5rem;
  }

  .work-container {
    padding-right: 2em;
    padding-left: 2em;
  }

  .service-container {
    gap: 0;
  }

  .services-section {
    padding: 4rem 2rem;
  }

  .service-container {
    flex-direction: column;
    padding: 1rem 0rem;
  }

  .services-container {
    margin-top: 1.5rem;
    gap: 0.8rem;
    perspective: none;
  }

  .service-intro {
    position: relative;
    top: auto;
  }

  .service-intro h3 {
    font-size: 2rem;
  }

  .service-cta {
    padding: 0.8rem 1.5rem;
  }

  .service-icon {
    display: none;
  }

  .service-content {
    max-width: 100%;
  }

  .service-wrapper {
    position: static;
    padding: 1.5rem 1rem;
  }

  .service-wrapper h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .service-wrapper p {
    font-size: 0.8rem;
  }

  .testimonial-section .card {
    width: 20rem;
    height: 24rem;
    top: 25%;
  }

  .footer-wrapper {
    padding: 0rem 2rem;
  }

  .footer-wrapper h2 {
    font-size: 3rem;
  }

  .container {
    width: 90%;
  }

  .title-heading {
    font-size: 1.8rem;
  }

  .title-heading-wrapper {
    font-size: 0.8rem;
  }

  .circle-visit {
    width: 2rem;
    height: 2rem;
  }
}
