* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "PP Nune Montreal";
  src: url("/fonts/PPNeueMontreal-Book.otf") format("otf");
  src: url("/fonts/Branch.otf") format("otf");
}

html {
  background-color: #ffffff;
}

html,
body {
  font-family: "PP Nune Montreal", sans-serif;
}

.webgl {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;
  overflow: hidden;
  /* height: 100vh; */
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}
header a {
  text-decoration: none;
  font-family: "PP Nune Montreal", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 0.9;
  /* text-transform: uppercase; */
  color: black;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.hamburger {
  width: 100%;
  height: 100%;
  min-width: 24px;
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: "PP Nune Montreal", sans-serif;
  font-weight: 300;
  color: #37393f;
  padding-left: 10%;
  padding-right: 10%;
}

.section_wrapper {
  position: relative;
  overflow: visible;
}

.section_wrapper .hero_container {
  position: relative;
  overflow: visible;
  margin-bottom: -100vh;
  z-index: 1;
}

.spacer {
  height: 100vh;
}

.section.is-hero {
  position: sticky;
  top: 0;
  z-index: 10;
}

.section.is-about {
  z-index: 2;
  background-color: #fafafa;
}
.section.coming-soon {
  z-index: 2;
  background-color: #fafafa;
}

.section .scroll_wrapper {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 1px solid black;
  left: 0;
  right: 0;
  margin: auto;
  top: 80%;
  border-radius: 50%;
}

.section .mail_wrapper {
  width: 20%;
  position: absolute;
  top: 20%;
  left: 8%;
  display: flex;
  justify-content: space-between;
}

.section .services_wrapper {
  position: absolute;
  right: 8%;
  bottom: 15%;
  text-transform: uppercase;
}

.services_wrapper .service_text {
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.section .hero_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero_wrapper h1 {
  font-size: 7.5vw;
  font-weight: 400;
  color: #19263a;
  text-transform: uppercase;
}

.creative {
  font-style: italic;
  font-weight: 300;
}

.hero_wrapper p {
  font-size: 1.6vw;
  color: #747479;
  mix-blend-mode: difference;
}

.section .about_wrapper {
  width: 50%;
  position: absolute;
  top: 15%;
  left: 8%;
}

.about_content h2 {
  font-size: 5rem;
  font-weight: 300;
}

.about_content p {
  font-size: 2.8rem;
  line-height: 1.2;
  font-kerning: none;
  font-weight: 300;
  color: #b4b4b4;
}

.about_sub__content {
  position: absolute;
  width: 30%;
  right: 8%;
  bottom: 10%;
}

.work {
  height: 120vh;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}
.work .image-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vignette {
  height: 30vw;
  width: 25vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.5vw;
  overflow: hidden;
}

.vignette img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-section {
  height: 200vh;
  position: relative;
}

.gallery {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  background: #fafafa;
}

.gallery-wrapper {
  position: relative;
  /* left: -12.5vh; */
  height: 22vh;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 2vw;
}

.row {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  white-space: nowrap;
  &:nth-of-type(1) {
    right: -20%;
  }
  &:nth-of-type(2) {
    left: -20%;
  }
  &:nth-of-type(3) {
    right: -20%;
  }
  &:nth-of-type(4) {
    left: -20%;
  }
}

.gallery-img__container {
  position: absolute;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
}

.gallery-img__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spacer {
  height: 100vh;
}

@media only screen and (max-width: 990px) and (min-width: 600px) {
  .hero_wrapper h1 {
    font-size: 6rem;
    line-height: 1.1;
  }
  .hero_wrapper p {
    margin-top: 2rem;
  }
  .section .mail_wrapper {
    width: 40%;
  }
  .section .scroll_wrapper {
    top: 90%;
  }
  .about_sub__content {
    width: 50%;
    bottom: 15%;
  }
  .vignette {
    height: 500px;
    width: 350px;
  }
}

@media only screen and (max-width: 599px) and (min-width: 280px) {
  .hero_wrapper h1 {
    font-size: 3rem;
    line-height: 1.2;
  }
  .hero_wrapper p {
    margin-top: 2rem;
    font-size: 1rem;
  }
  .section .mail_wrapper {
    width: 80%;
  }
  .section .services_wrapper {
    /* bottom: 2%; */
    right: 2%;
  }
  .section .about_wrapper {
    width: 80%;
  }
  .about_content h2 {
    font-size: 3.5rem;
  }
  .about_content p {
    font-size: 1.2rem;
  }
  .about_sub__content {
    width: 90%;
    right: 2%;
    bottom: 5%;
    font-size: 0.8rem;
  }
  .vignette {
    height: 350px;
    width: 250px;
  }
}
